/.vscode
/teste.py
/teste2.py
/teste3.py
/.venv
/teste4.py
/teste5.py
/teste6.py
/.Testes
/Testes
/imagem.py
/venv
/MicrosoftWebDriver.exe
/main.build
/main.dist
/main.onefile-build
/update.bat
/teste7.py
/teste8.py
/teste*.py
/*.exe